<?xml version="1.0" encoding="UTF-8"?>
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">-->

<!--</beans>-->
<mapper namespace="com.example.myfirstspringbootweb.DAO.UserMapper">
<select id="findAll" resultType="com.example.myfirstspringbootweb.entity.User">
    select * from deviceuser
</select>
</mapper>
